.skills-container {
  .card-skill {
    @media screen and (max-width: $screen-md) {
      width: 100%;
      .title-skills {
        a {
          h5 {
            text-align: center;
          }
        }
      }
    }
    figure {
      @media screen and (max-width: $screen-md) {
        width: 100%;
        img {
          width: 50%;
        }
      }
    }
  }
}
